[Unit]
Description=Zookeeper Daemon
Documentation=http://zookeeper.apache.org
Requires=network.target
After=network.target

[Service]    
Type=forking
SyslogIdentifier=zookeeper
User=zk
Group=zk
ExecStart=/brooklin/kafka/{{ KAFKA_FILENAME }}/bin/zookeeper-server-start.sh  /brooklin/kafka/{{ KAFKA_FILENAME }}/config/zookeeper.properties >/dev/null 2>&1 &
ExecStop=/brooklin/kafka/{{ KAFKA_FILENAME }}/bin/zookeeper-server-start.sh stop 
TimeoutSec=30
Restart=on-failure

[Install]
WantedBy=default.target