[Unit]
Description=Zookeeper Daemon
Documentation=http://zookeeper.apache.org
Requires=network.target
After=network.target

[Service]    
Type=forking
SyslogIdentifier=zookeeper
User=zk
Group=zk
WorkingDirectory=/brooklin/kafka/{{ KAFKA_FILENAME }}
ExecStart=bin/zookeeper-server-start.sh config/zookeeper.properties >/dev/null 2>&1 &
ExecStop=bin/zookeeper-server-start.sh stop 
TimeoutSec=30
Restart=on-failure

[Install]
WantedBy=default.target