[Unit] 
Description=Apache Kafka 


[Service] 
Type=simple 
User=kafka 
Group=kafka 
WorkingDirectory=/brooklin/kafka/{{ KAFKA_FILENAME }}
ExecStart=bin/kafka-server-start.sh config/server.properties 
ExecStop=bin/kafka-server-stop.sh 

[Install] 
WantedBy=multi-user.target